body {
  margin: 0;
  font-family: 'Caveat, cursive';
  background-color: gray;
}


/* Remove arrows from type number inputs  */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
